.sidebar {
    color: #fff;
    /* position: fixed; */
    height: 100vh;
}

.menu-bar .ant-menu-item-selected {
    background: var(--main-color);
    color: #001529;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--main-color);
}

.logo-icon h1 {
    font-size: 1.5rem;
    color: black;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    position: relative;
}

.toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.toggle {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .ocultar-sidebar {
        display: none !important;
    }
}